body {background: linear-gradient(68.6deg, rgb(252, 165, 241) 1.8%, rgb(181, 255, 255) 100.5%);
}
.display-4 {
    color: rgb(106, 27, 180);
    text-align: center;
    
}
.header {
    font-weight: 200px;
    color: rgb(38, 190, 96);
    text-align: center;
    font-style: italic;
}
.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
